h1 
{
	color:#033;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom: 2px solid black;
}

h2
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
	color: #F00;
}

a:visited
{
	text-decoration:none;
	color: #6600FF;
}

p
{
	text-indent: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	
}