@charset "utf-8";
/* CSS Document */

body
{
    background-color:#e3e3e3;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.container
{
  margin:0 auto;
  background-color:#FFF;
}

header
{
  background: #03C;
  color:#FFF;
}

header li
{
	background-color:#AAA;
	color:#000;
	display:inline;
	width: 20%;
}

header a
{
	text-decoration:none;
	color:#000;
	width:150px;
}

header a:hover
{
	background-color:#FFF;
	color:#000;
}

header #selected a
{
	background-color:#FFF;
}

header #selected a:hover
{
	background-color:#333;
	color:#FFF;
}


section
{
  background: #FFF;
  padding:15px;
}

article 
{
  background: #FFF;
}

footer 
{
  background: #03C;
  color:#FFF;
}